body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: #f2b6d2;
  color: #333;
  padding-left: 200px;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

button {
  background-color: #880e4f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.sidebar {
  position: fixed;         
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: #b41361; 
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(93, 0, 79, 0.8);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 20px 0;
  text-align: center;
}

.sidebar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px;
}

.sidebar a:hover {
  background-color: #455a64;
  border-radius: 5px;
}

